.product-item {
    width: 98%;
    height: 99%;
    padding: .5rem;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    font-size: .7rem;
}
img {
  width: 80%;
  height: 70%;
  align-items: center; 
}

@media (max-width: 999px) {
  .product-item {
    font-size: 0.8rem;
  }
}

@media (max-width: 699px) {
  .product-item {
    font-size: 0.6rem;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
  
@media (max-width: 999px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    overflow-x: hidden;
  }
}
  
  @media (max-width: 699px) {
    .product-grid {
      grid-template-columns: 1fr;
    }
  }

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

mat-checkbox {
  margin-left: auto;
}

input[type="checkerbox"]{
  width: 300px;
  height: 30px;
}

.button-checkbox { 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  padding: 0 12px; 
  font-size: 14px; 
  height: 36px; 
  background-color: #fff; 
  color: #616161; 
  border: 1px solid #bdbdbd; 
  border-radius: 4px; 
  cursor: pointer; 
  }
  
  .button-checkbox .mat-checkbox-inner-container { 
  width: 16px; 
  height: 16px; 
  }
  
  .button-checkbox .mat-checkbox-checked { 
  background-color: #3f51b5; 
  color: #fff; 
  }
  
  .button-checkbox .mat-checkbox-checked .mat-checkbox-inner-container { 
  background-color: #fff; 
  }
  
  .button-checkbox .mat-checkbox-checked .mat-checkbox-background { 
  border-color: #3f51b5; 
  } 
  
/* Hide the bubble by default */
.bubble {
  /* display: none; */
  top: -50px;
  left: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
}

/* Show the bubble when the item is active */
.item.active .bubble {
  visibility: show;
  display: block;
  background-color: black;
}
