<header style="background-color: black; color: white; display: flex; justify-content: space-between; align-items: center; padding: 16px;">
  <a routerLink="/" style="text-align: center; margin: 0; text-decoration: none;">
    <h1>Phone Seller</h1>
  </a>
  <div style="display: flex; align-items: center;">
    <a routerLink="/dashboard" style="text-decoration: none;">
      <button style="border: none; background-color: transparent; color: white; margin-right: 32px;">Home</button>
    </a>
    <a routerLink="/product" style="text-decoration: none;">
      <button style="border: none; background-color: transparent; color: white;">Product List</button>
    </a>
  </div>
</header>