footer {
    height: 50px;
    background-color: grey;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    color: black;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-6 {
    flex: 1 1 50%;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }